<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="author" content="Michal J Sekulski">
  <meta name="description" content="Simple Tic Tac Toe Game, HTML/CSS/JS">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="./resources/style.css">
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <title>Tic Tac Toe</title>
</head>

<body>
  <p>(2019_2020) Michal J Sekulski</p>
  <div class="board" id="board">
    <div class="cell" data-cell></div>
    <div class="cell" data-cell></div>
    <div class="cell" data-cell></div>
    <div class="cell" data-cell></div>
    <div class="cell" data-cell></div>
    <div class="cell" data-cell></div>
    <div class="cell" data-cell></div>
    <div class="cell" data-cell></div>
    <div class="cell" data-cell></div>
  </div>
  <div class="winning-message" id="resultPrompt">
    <div data-result-text></div>
    <button id="restartButton">Restart</button>
  </div>
  <script type="text/javascript" src="./resources/ttt.js"></script>
</body>

</html>